<div class="layui-form">
  <table class="layui-table">
    <thead class="lightBlue center">
    <tr>
      <th colspan="3">数据下载</th>
    </tr>
    </thead>
    <tbody class="grey center">
    <tr>
      <td>
        2017.08.27.tar
      </td>
      <td>
        <a href="javascript:;"><span class="iconfont icon-gx_xiaZai text_blue"></span>下载</a>
      </td>
    </tr>
    </tbody>
  </table>
  <button class="layui-btn  layui-btn-darkBlue">批量下载</button>
</div>
<script>
  layui.use('form', function(){
    //初始化复选框
    var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
    //但是，如果你的HTML是动态生成的，自动渲染就会失效
    //因此你需要在相应的地方，执行下述方法来手动渲染，跟这类似的还有 element.init();
    form.render();
  });
</script>
